<div class="container-fluid" *ngIf="pokemon">
  <!-- Example row of columns -->
  <div class="container">
    <div class="col-md-6">
            <span class="img-detail">
                <img class="img-responsive center-block" src="{{pokemon.image}}">
                <p class="{{pokemon.name}} text-capitalize">{{pokemon.name}}</p>
            </span>
    </div>
    <div class="col-md-6">
      <hr/>
      <p>{{pokemon.description}}</p>
      <hr/>

      <div class="row">
        <div class="col-md-6">
          <p><b>Altura:</b>{{pokemon.height}}m</p>
          <p><b>Peso:</b>{{pokemon.weight}} kg</p>
          <p><b>Sexo:</b>{{pokemon.gender}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Categoría:</b>{{pokemon.category}}</p>
          <p><b>Habilidad:</b>{{pokemon.ability}}</p>
          <p><b>Debilidad:</b>{{pokemon.weakness}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">


      <div class="col-sm-offset-1 col-sm-2">
        <h2>Ataque</h2>
        <div class="c100 p{{pokemon.attack}} small center">
          <span>{{pokemon.attack}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <h2>Defensa</h2>
        <div class="c100 p{{pokemon.defense}} small green center">
          <span>{{pokemon.defense}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>

      </div>

      <div class="col-sm-2">
        <h2>Ataque Especial</h2>
        <div class="c100 p{{pokemon.s_attack}} small orange center">
          <span>{{pokemon.s_attack}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>


      <div class="col-sm-2">
        <h2>Defensa Especial</h2>
        <div class="c100 p{{pokemon.s_defense}} small center">
          <span>{{pokemon.s_defense}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <h2>Velocidad</h2>
        <div class="c100 p{{pokemon.speed}} small green center">
          <span>{{pokemon.speed}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
