<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination pagination-lg">
    <li [routerLink]="['/page/',low-1]" *ngIf="low>quantity" (click)="getPrevPages(low)">
      <a aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li [ngClass]="{'active':(number==page)}" *ngFor="let number of numbers"><a [routerLink]="['/page/',number]">{{number}}</a></li>
    <li [routerLink]="[url,high+1]" (click)="getNextPages(high)">
      <a aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
