<div class="col-sm-6 col-md-3">
  <a class="btn btn-default" [routerLink]="['',pokemon.name]" role="button"><img class="img-responsive center-block" src="{{pokemon.image}}">
    <p class="{{pokemon.name}} text-capitalize name-border">{{pokemon.name}}</p>
  </a>
</div>
