body {
  background-color: #7EABA6
}

.input-group {
  background-color: rgba(0, 0, 0, .45);
  padding: 20px 20px 0
}

.btn {
  display: block;
  margin-bottom: 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 2px solid #7EABA6;
  padding: 0
}

.btn p {
  margin: 0 !important;
  color: #fff;
  padding: 10px 0;
  font-size: 18px
}

.btn:hover {
  background-color: #fff;
  border: 2px solid #1B356A
}

.jumbotron {
  background-image: url(../img/bg-pokemon.jpg);
  background-size: cover;
  padding-top: 250px;
  border-bottom: 10px solid #1B356A
}

@media (min-width: 992px) {
  .jumbotron {
    padding-top: 300px;
    padding-bottom: 120px;
    border-bottom: 20px solid #1B356A
  }
}

@media (min-width: 1400px) {
  .jumbotron {
    padding-top: 380px;
    padding-bottom: 200px;
    border-bottom: 50px solid #1B356A
  }
}

.navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, .85)
}

.navbar img {
  margin: 10px auto;
  display: block
}

footer {
  background-color: #1B356A;
  color: #fff;
  padding: 20px
}

.details .container-fluid {
  padding: 30px 0
}

.details .navbar {
  position: relative;
  background-image: url(../img/bg-pokemon.jpg);
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, .8) inset;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.details p {
  color: #fff;
  font-size: 20px
}

.details .img-detail {
  background-color: #fff;
  display: block
}

.details .img-detail img {
  width: 75%
}

.details .img-detail p {
  margin: 0 !important;
  color: #fff;
  padding: 10px 0;
  font-size: 22px;
  text-align: center
}

.details h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}

.c100::after {
  background-color: #7eaba6 !important
}

.c100 {
  background-color: #97c4bf !important
}

.bulbasaur {
  background-color: #5e8f65
}

.butterfree {
  background-color: #da766e
}

.caterpie {
  background-color: #5e8f65
}

.charmander {
  background-color: #e37f4f
}

.clefairy {
  background-color: #bc92aa
}

.diglett {
  background-color: #b89984
}

.ekans {
  background-color: #8a617f
}

.gloom {
  background-color: #dea28d
}

.horsea {
  background-color: #81d0ea
}

.jigglypuff {
  background-color: #deacb5
}

.nidoran {
  background-color: #9fb4dd
}

.nidorina {
  background-color: #97bfc8
}

.parasect {
  background-color: #d695af
}

.picachu {
  background-color: #f2ce62
}

.pidgey {
  background-color: #c0b38d
}

.psyduck {
  background-color: #f2c777
}

.rattata {
  background-color: #a286ad
}

.sandslash {
  background-color: #936b3a
}

.squirtle {
  background-color: #91c6d3
}

.tangela {
  background-color: #e88b78
}

.zubat {
  background-color: #b28bb6
}

.weedlee {
  background-color: #997255
}

.vulpix {
  background-color: #e78d5d
}

.vaporeon {
  background-color: #6298a8
}
